@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
}

ion-title, ion-segment-button, h2 {
  font-weight: 600;
}

ion-segment {
  z-index: 10px;
  background: #128C7E;
  ion-segment-button {
    color: #87C5BE;
  }
  .segment-button-checked{
    color: #ffff !important;
  }
  ion-segment-button:first-of-type {
    --padding-end: 0;
    --padding-start: 0;
    min-width: 16px;
  }
}

ion-segment-button {
  text-decoration: none;
  color: #fff;
}

ion-fab-button{
  --background: #00CC3F;
}

p ion-icon {
  font-size: 16px;
  vertical-align: middle;
}

.read {
  color: #43B5AF;
}

.hangup{
  color: #ca0000;
}

.avatar {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5cm;
  height: 5cm;
}

.text{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.separator{
  font-weight: 700;
  color: #b4b4b4;
  padding-left: 15px;
}

.border{
  border: 2px solid #02d645;
}

.border-inactive{
  border-style: dashed;
  color: #808080;
}