.call-icon{
    display: flex;
    align-items: center;
    color: #25D366;
}

.call-time{
    padding-left: 70px;
    font-size: 13px;
}

.desc{
    margin-right: 8px;
    margin-top: 2px;
    color: #25D366;
}

.call-status{
    padding-left: 30px;
}

.call-desc{
    font-size: 12px;
}

.call-colors{
    color: #25D366;
}